name: tests

on: [pull_request]

jobs:
  test-local:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y binfmt-support exfatprogs fdisk file git kpartx lsof p7zip-full qemu-user-static unzip wget xz-utils units
        shell: bash

      - name: Run comprehensive pimod example
        run: sudo ./pimod.sh tests/Comprehensive-Test.Pifile

  test-action:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Run comprehensive pimod example via Action (use PR code)
        uses: ./
        with:
          pifile: tests/Comprehensive-Test.Pifile
